.dash-side-nav {
  background: rgb(243, 243, 244);
  width: 15vw;
  height: 93vh;
  margin-top: 7vh;
  padding-left: .7em;
  box-sizing: content-box;
}

.dash-side-nav-link-container{
  margin: 1rem 0 0 .5rem;
  display: flex;
  flex-direction: column;
}

