.dashboard-main {
  display: flex;
  
}

.app-page-display-box {
  margin-top: 7vh;
  overflow: scroll;
  overflow-x: hidden;
  width: 85vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3em;
}

