.dash-side-nav {
  background: rgb(243, 243, 244);
  width: 15vw;
  height: 90vh;
  margin-top: 10vh;
}

.dash-side-nav-link-container{
  margin: 1rem 0 0 .5rem;
  display: flex;
  flex-direction: column;
}


/* .left-nav-icon {
  color: red;
} */

/* .left-nav-icon:hover {
  color: blue;
}

.left-nav-icon::after {
  color: purple;
} */

.left-nav-text {
 color: blue;
}

.left-nav-text:hover {
  color: red;
 }

 .left-nav-text:after {
  color: purple;
 }