.dash-side-nav {
  background: #FBFAFA;
  width: 15vw;
  height: 93vh;
  margin-top: 7vh;
  padding-left: .7em;
  box-sizing: content-box;
  border-right: 1px solid #EAEAEA;
}

.dash-side-nav-link-container{
  margin: 1rem 0 0 .5rem;
  display: flex;
  flex-direction: column;
}

