$darkgrey: rgb(53, 53, 57);
$lightgrey: #fbfafa;
$lightgrey1: rgb(77, 77, 77);
$lightgrey2: rgb(114, 114, 114);
$blue: #5499db;
$darkblue: rgb(72, 141, 206);
$hotpink: #e1578b;
$lightyellow: #febf5c;
$lightgreen: #71d790;
$mint: #2ad2c3;

//border
$bordercolor: #eaeaea;
$roundcorner: 0.3em;

//text
$bluetext: #5099de;
$blackfont: #1c1c1c;
$darkgreyfont: rgb(77, 77, 77);

// buttons
.butn-primary {
  background: $blue;
  color: #ffffff;
  font-size: 0.9em;
  border: none;
  // text-decoration: none;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  padding: 8px 35px;
  margin: 0 1em;
  a {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background: $darkblue;
    text-decoration: none;
    transform: scale(1.1);
  }
}

.butn-secondary {
  background: none;
  color: $lightgrey1;
  font-size: 0.9em;
  border: 1px solid $lightgrey1;
  // text-decoration: none;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  padding: 8px 35px;
  margin: 0 1em;
  a {
    text-decoration: none;
    color: $lightgrey1;
  }
  &:hover {
    background: $lightgrey2;
    color: #fff;
    text-decoration: none;
    transform: scale(1.1);
    a {
      color: #fff;
    }
  }
}

.butn-secondary-white {
  background: none;
  color: #fff;
  font-size: 0.9em;
  border: 1px solid #fff;
  // text-decoration: none;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  padding: 8px 35px;
  margin: 0 1em;
  a {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    // background: $lightgrey2;
    // color: #fff;
    text-decoration: none;
    transform: scale(1.1);
    // a{
    //   color: #fff;
    // }
  }
}

// In application buttons
.butn-two-primary {
  background: $blue;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 500;
  border: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  padding: 8px 35px;
  margin: 0 1em;
  a {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background: $darkblue;
    text-decoration: none;
  }
}

.butn-two-secondary {
  background: $lightgrey2;
  color: #ffffff;
  font-size: 0.9em;
  border: 1px solid $lightgrey2;
  // text-decoration: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  padding: 8px 35px;
  margin: 0 1em;
  a {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background: $lightgrey1;
    color: #fff;
    text-decoration: none;
  }
}

// fonts

.title-one {
  font-size: 2.5em;
  color: #fff;
  font-weight: 300;
}

.title-two {
  font-size: 1.5em;
  color: $darkgrey;
  font-weight: 400;
  text-align: center;
}

.paragraph-small {
  font-size: 1em;
  color: $darkgrey;
  font-weight: 400;
  text-align: center;
}

.title-mini {
  margin: 0;
  font-size: 1.2em;
  font-weight: 200;
  color: $darkgrey;
  text-transform: uppercase;
}

.center-aligned-2butn {
  display: flex;
  justify-content: center;
}

// styled Pages
.home-nav {
  height: 7vh;
  box-shadow: 1px 1px 6px $lightgrey2;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  .home-nav-logoname {
    height: 20%;
  }
  .container-one {
    height: 80%;
    margin-left: 2em;
    display: flex;
    align-items: center;
    .home-nav-logobell {
      height: 100%;
    }
    .vertical-line {
      height: 80%;
      width: 1px;
      background: #000;
      margin: 0 1em;
    }
    .home-nav-logoname {
      height: 60%;
    }
  }
  .container-two {
    margin-right: 1em;
  }
}

.home-page {
  overflow-x: hidden;
  .hero-main {
    background-image: linear-gradient(-45deg, #fff 10%, #2ca6d1);
    height: 93vh;
    margin-top: 7vh;
    .row-one {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      .box-one {
        height: 65vh;
        width: 50vw;
        box-sizing: border-box;
        padding-top: 10%;

        h1 {
          margin: 0 0 0.5em 1em;
        }
        button {
          margin-left: 3em;
        }
      }
      .box-two {
        height: 65vh;
        width: 40vw;
        // background: blueviolet;
        display: flex;
        align-items: center;
        // justify-content: center;
        .box-two-img {
          // height: 100%;
          width: 75%;
        }
      }
    }
    .row-two {
      height: 13vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin: 0;
        font-size: 1.2em;
        font-weight: 200;
        color: $darkgrey;
        text-transform: uppercase;
      }
    }
  }

  .section-two {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      // position: relative;
      // z-index: 10;
      margin-top: 5em;
      color: $blue;
    }
    .slider-wrapper {
      color: $darkgrey;
    }
    .slider {
      .slider-text1,
      .slider-text2,
      .slider-text3 {
        color: $hotpink;
      }
    }
  }

  .section-three {
    height: 50vh;
    background-image: linear-gradient(-25deg, $lightyellow 10%, $hotpink);
    display: flex;
    justify-content: center;
    align-items: center;

    .quote-box {
      width: 60vw;
    }
    p,
    h2 {
      color: #fff;
      font-size: 1.7em;
      text-align: center;
      font-weight: 300;
    }
    h2 {
    }
  }

  .section-four {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .features-box {
      width: 20vw;
      height: 50%;
      margin: 0 1em;
      // background: #2CA6D1
    }
  }

  .section-five {
    height: 50vh;
    background-image: linear-gradient(-20deg, $lightgreen 10%, #2ca6d1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2,
    p,
    h1 {
      color: #fff;
      margin: 0.3em;
    }
    button {
      margin: 2em;
    }
  }

  .home-footer {
    height: 20vh;
    background: #353539;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      color: #fff;
      margin: 0.4em;
    }
  }
}

.authentication-page {
  background-image: linear-gradient(-45deg, #fff 10%, #2ca6d1);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .row-one {
    width: 30vw;
    background: #fff;
    box-shadow: 1px 1px 6px $lightgrey2;
    .box-title {
      background: $darkgrey;
      padding: 1em;
      text-align: center;
      h1 {
        font-size: 1.7em;
      }
    }
    .input-box {
      padding-top: 2em;
      padding-bottom: 2em;
      .guest-login-callout{
        h5 {
          color: red;
          margin: 0;
          text-align: center;
          font-weight: 500;
          .bold-title {
            font-weight: 700;
          }
        }

      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        // width: 80%;
        input {
          margin: 1em;
          border: none;
          background-image: none;
          background-color: transparent;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border-bottom: 1px solid $darkblue;
          width: 60%;
        }
        .first-button {
          margin-top: 2em;
        }
      }
    }
  }
}

.dashboard-home {
  h1 {
    text-align: center;
    text-transform: capitalize;
  }
  .row-two {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    .column-one {
      width: 50vw;
      // background: red;
      .dashbord-chart {
        // width: 90%;
        background: $lightgrey;
        border: 1px solid $bordercolor;
        border-radius: $roundcorner;
      }
      .keystats-container {
        margin-top: 2em;
        background: #edf9f7;
        border-radius: $roundcorner;
        border: 2px solid #c2eee6;
        box-sizing: border-box;
        padding: 1em;
        h3 {
          margin: 0.5em;
        }
        // .top-of-table {
        //   border-bottom: 1px solid red;

        // }
        th {
          width: 10vw;
          color: $mint;
          font-size: 1.2em;
          border-bottom: 2px solid $mint;
          padding: 1px 0;
        }
        td {
          text-align: center;
        }
      }
    }
  }
  .quick-actions {
    width: 20vw;
    background: #fff9f0;
    padding: 1em;
    box-sizing: border-box;
    border-radius: $roundcorner;
    border: 2px solid #fff0d7;
    // border: 1px solid rgba(37, 214, 202, 0.397);
    h4 {
      color: $darkblue;
      .link-text {
        text-decoration: none;
        color: $blackfont;
        margin: 0 0.5em;
      }
    }
  }
}

.add-herd-start {
  .add-to-herd-block1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    img{
      margin: 1.5em 0;
    }
    select{
      width: 100%;
      height: 1.5em;
      margin-bottom: .75em;
    }
    input{
      width: 100%;
      height: 1.5em;
      margin-bottom: .75em;
    }
    hr {
      margin: 1.5em 0;
    }
  }

}

.add-to-herd-confirmation {
  .block-one{
    text-align: center;
    hr {
      margin: 1em 0;
    }
  }
}

.manage-herd{
  .box-one{
    padding: 1em 0;
    display: flex;
    justify-content: flex-end;
  }
  table{
    margin-top: 1em;
    thead {
      background: #fff9f0;
      border-bottom: 5px solid red;
      .column1{
        width: 10vw;
      }
      .column2{
        width: 20vw;
      }
      .column3{
        width: 10vw;
      }
      .column4{
        width: 10vw;
      }
      .column5{
        width: 15vw;
      }
      .column6{
        width: 10vw;
      }
    }
    tbody tr td {
      // text-align: center;
      input {
        width: 100%;
        height: 100%;
        border: none;
      }
      ::placeholder{
        color: $bluetext;
      }
      border-bottom: 1px solid $lightgrey2;
      .icon {
        color: $lightgrey1;
        margin: 0 .5em;
      }
    } 
  }
  .center-aligned {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
}

.health-settings {
  .row-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em 0;
  }
  .row-b {
    display: flex;
    justify-content: center;
    .box-one{
      // margin-top: 2em;
      background: #edf9f7;
      border-radius: $roundcorner;
      border: 2px solid #c2eee6;
      box-sizing: border-box;
      width: 49vw;
      padding: 1em;
      display: flex;
      justify-content: center;
      .health-level-row{
        display: flex;
        padding: 0;
        margin: 1.5em;
        h4 {
          margin: 0 .5em 0 0;
        }
        input {
          border:none;
          background-image:none;
          background-color:transparent;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border-bottom: 2px solid #c2eee6;
        }

      }
      hr {
        margin: 1.5em 0;
      }
      // hr{
      //   width: 30vw;
      // }
    }
  }
  .center-box{
    display: flex;
    justify-content: center;
  }
  
}

.health-settings-conf {
  .row-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
  }
  .bottom-row{
    hr{
      margin: 1.5em 0;
    }
  }
}

.health-alerts {
  .row-a {
    display: flex;
    justify-content: center;
    margin: 1.5em;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .keystats-container {
      margin: 1em 0;
      background: #edf9f7;
      border-radius: $roundcorner;
      border: 2px solid #c2eee6;
      box-sizing: border-box;
      padding: 1em;
      width: 50vw;
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0.5em;
      }
      th {
        width: 7vw;
        color: $mint;
        font-size: 1.2em;
        border-bottom: 2px solid $mint;
        padding: 1px 0;
      }
      td {
        text-align: center;
      }
    }
    .alert-container{
      background: #fff9f0;
      border-radius: $roundcorner;
      border: 2px solid #fff0d7;
      box-sizing: border-box;
      padding: 1em;
      margin: 1em 0;
      width: 50vw;
      h3 {
        margin: 0;
      }
      h5 {
        margin: 0;
        font-weight: 400;
      }
      .span-a {
        margin-left: 1em;
        a {
          color: $lightgrey1;
          text-decoration: none;
        }
      }
      table{
        margin-top: 1em;
        border-collapse: collapse;
        thead{
          text-align: left;
          .column1{
            width: 15vw;
          }
          .column2{
            width: 10vw;
          }
          .column3{
            width: 10vw;
          }
          .column4{
            width: 10vw;
          }
        }
        tbody tr {
          a {
            color: #000;
          }
        }
        tbody tr:nth-child(odd){
          background: #fff0d742;
        }
      }
    }
  }
}

.business-reports-health {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  .chart-size-2 {
    margin: 2em 0;
    background: $lightgrey;
    border: 1px solid $bordercolor;
    border-radius: $roundcorner;
  }
}

.individual-health-report {
  .row-a{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    .health-snapshot{
      background: #fff9f0;
      border-radius: $roundcorner;
      border: 2px solid #fff0d7;
      box-sizing: border-box;
      padding: 1em;
      margin: 1em 0;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3{
        margin: .1em 0;
      }
      thead tr th{
        text-align: left;
      }
    }
    .heart-overview{
      width: 35%;
      background: #fff6f6;
      border: 2px solid #f1a0a08e;
    }
  }
  .center-text{
    text-align: center;
  }
  .charts-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    div {
      margin: 1em 0;
    }
  }
  .closing-hr {
    margin: 1em;
  }
}
