$darkgrey: rgb(53, 53, 57);
$lightgrey: #FBFAFA;
$lightgrey1: rgb(77, 77, 77);
$lightgrey2: rgb(114, 114, 114);
$blue: #5499DB;
$darkblue: rgb(72, 141, 206);
$hotpink: #E1578B;
$lightyellow: #FEBF5C;
$lightgreen: #71D790;
$mint: #2AD2C3;

//border
$bordercolor: #EAEAEA;
$roundcorner: 0.3em;

//text
$bluetext: #5099DE;
$blackfont: #1C1C1C;
$darkgreyfont: rgb(77, 77, 77);


// buttons
.butn-primary {
  background: $blue;
  color: #ffffff;
  font-size: .9em;
  border: none;
  // text-decoration: none;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  padding: 8px 35px;
  margin: 0 1em;
  a {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
      background: $darkblue;
      text-decoration: none;
      transform: scale(1.1);
  }
}

.butn-secondary {
  background: none;
  color: $lightgrey1;
  font-size: .9em;
  border: 1px solid $lightgrey1;
  // text-decoration: none;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  padding: 8px 35px;
  margin: 0 1em;
  a {
    text-decoration: none;
    color: $lightgrey1;
  }
  &:hover {
      background: $lightgrey2;
      color: #fff;
      text-decoration: none;
      transform: scale(1.1);
      a{
        color: #fff;
      }
  }
}

.butn-secondary-white {
  background: none;
  color: #fff;
  font-size: .9em;
  border: 1px solid #fff;
  // text-decoration: none;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  padding: 8px 35px;
  margin: 0 1em;
  a {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
      // background: $lightgrey2;
      // color: #fff;
      text-decoration: none;
      transform: scale(1.1);
      // a{
      //   color: #fff;
      // }
  }
}

// fonts

.title-one {
  font-size: 2.5em;
  color: #fff;
  font-weight: 300;
}

.title-two {
  font-size: 1.5em;
  color: $darkgrey;
  font-weight: 400;
  text-align: center;
}

.paragraph-small {
  font-size: 1em;
  color: $darkgrey;
  font-weight: 400;
  text-align: center;
}

.title-mini {
  margin: 0;
  font-size: 1.2em;
  font-weight: 200;
  color: $darkgrey;
  text-transform: uppercase;
}

// styled Pages
.home-nav {
  height: 7vh;
  box-shadow: 1px 1px 6px $lightgrey2;
  background-color: #fff; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  .home-nav-logoname{
    height: 20%;
  }
  .container-one {
    height: 80%;
    margin-left: 2em;
    display: flex;
    align-items: center;
    .home-nav-logobell {
      height: 100%;
    }
    .vertical-line {
      height: 80%;
      width: 1px;
      background: #000;
      margin: 0 1em;
    }
    .home-nav-logoname{
      height: 60%;
    }
  }
  .container-two {
    margin-right: 1em;
  }
}

.home-page {
  overflow-x: hidden;
  .hero-main{
    background-image: linear-gradient(-45deg, #fff 10%, #2CA6D1 );
    height: 93vh;
    margin-top: 7vh;
    .row-one {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      .box-one {
        height: 65vh;
        width: 50vw;
        box-sizing: border-box;
        padding-top: 10%;
        
        h1 {
          margin: 0 0 .5em 1em;
        }
        button {
          margin-left: 3em;
        }
        
      }
      .box-two {
        height: 65vh;
        width: 40vw;
        // background: blueviolet;
        display: flex;
        align-items: center;
        // justify-content: center;
        .box-two-img {
          // height: 100%;
          width: 75%;
        }
      }
    }
    .row-two {
      height: 13vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin: 0;
        font-size: 1.2em;
        font-weight: 200;
        color: $darkgrey;
        text-transform: uppercase;
      }
    }
  }
  
  .section-two {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      // position: relative;
      // z-index: 10;
      margin-top: 5em;
      color: $blue;
    }
    .slider-wrapper {
      color: $darkgrey;
    }
    .slider {
      .slider-text1, .slider-text2, .slider-text3 {
        color: $hotpink;

      }
    }
  }
  
  .section-three {
    height: 50vh;
    background-image: linear-gradient(-25deg, $lightyellow 10%, $hotpink );
    display: flex;
    justify-content: center;
    align-items: center;
    
    .quote-box {
      width: 60vw;
    }
    p, h2 {
      color: #fff;
      font-size: 1.7em;
      text-align: center;
      font-weight: 300; 
    }
    h2 {

    }
  }

  .section-four {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .features-box {
      width: 20vw;
      height: 50%;
      margin: 0 1em;
      // background: #2CA6D1
    }
  }

  .section-five {
    height: 50vh;
    background-image: linear-gradient(-20deg, $lightgreen 10%, #2CA6D1 );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2, p, h1 {
      color: #fff;
      margin: .3em;
    }
    button {
      margin: 2em;
    }
  }

  .home-footer {
    height: 20vh;
    background: #353539;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      color: #fff;
      margin: .4em;
    }
  }
}

.authentication-page {
  background-image: linear-gradient(-45deg, #fff 10%, #2CA6D1 );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .row-one {
    width: 30vw;
    background: #fff;
    box-shadow: 1px 1px 6px $lightgrey2;
    .box-title {
      background: $darkgrey;
      padding: 1em;
      text-align: center;
      h1 {
        font-size: 1.7em
      }
    }
    .input-box {
      padding-top: 2em;
      padding-bottom: 2em;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 80%;
        input {
          margin: 1em;
          border:none;
          background-image:none;
          background-color:transparent;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border-bottom: 1px solid $darkblue;
          width: 60%;
        }
        .first-button {
          margin-top: 2em;
        }

      }

    }
  }

}

.dashboard-home {
  h1 {
    text-align: center;
    text-transform: capitalize;
  }
  .row-two {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    .column-one {
      width: 50vw;
      // background: red;
      .dashbord-chart {
        // width: 90%;
        background: $lightgrey;
        border: 1px solid $bordercolor;
        border-radius: $roundcorner;
      }
      .keystats-container {
        margin-top: 2em;
        background: #EDF9F7;
        border-radius: $roundcorner;
        border: 2px solid #C2EEE6;
        box-sizing: border-box;
        padding: 1em;
        h3 {
          margin: .5em;
        }
        // .top-of-table {
        //   border-bottom: 1px solid red;
          
        // }
        th {
          width: 10vw;
          color: $mint;
          font-size: 1.2em;
          border-bottom: 2px solid $mint;
          padding: 1px 0;

        }
        td {
          text-align: center;
        }
      }
    }
  }
  .quick-actions {
    width: 20vw;
    background: #FFF9F0;
    padding: 1em;
    box-sizing: border-box;
    border-radius: $roundcorner;
    border: 2px solid #FFF0D7;
    // border: 1px solid rgba(37, 214, 202, 0.397);
    h4 {
      color: $darkblue;
      .link-text {
        text-decoration: none;
        color: $blackfont;
        margin: 0 .5em;
      }
    }
  }
}
