/* body{
  background-image: url('https://moolapics.s3-us-west-1.amazonaws.com/fuzzycow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-wrapper {
  font-size: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 50px;
  padding-left: 1rem;
  overflow: hidden;
}

.slider-text1{
  color: green;
  animation: slide 12s linear infinite;
}

.slider-text2{
  color: green;
}

.slider-text3{
  color: green;
}

.slider div {
  height: 50px;
  margin-bottom: 50px; 
  padding: 2px 15px;
  text-align: left;
  box-sizing: border-box;
}

@keyframes slide {
  0% {margin-top: -300px;}
  5% {margin-top: -200px;}
  33% {margin-top: -200px;}
  38% {margin-top: -100px;}
  66% {margin-top: -100px;}
  71% {margin-top: 0px;}
  100% {margin-top: 0px;}
}